In [3]:
import pandas as pd
import streamlit as st
import plotly.express as px

In [4]:
df = pd.read_csv("C:\PythonProjects\App07_Weather_GUI_Dashboard\data\happy.csv")
df

,country,happiness,gdp,social_support,life_expectancy,freedom_to_make_life_choices,generosity,corruption
0,Niger,5003,570,560,326,571,165,145
1,Mozambique,5048,578,660,191,593,185,200
2,Liberia,5122,636,670,309,405,178,80
3,Malawi,3750,648,279,388,477,140,157
4,Chad,4251,662,506,225,180,182,77
...,...,...,...,...,...,...,...,...
140,United Arab Emirates,6576,1998,980,633,702,204,250
141,Switzerland,7512,2026,1226,822,677,147,461
142,Ireland,7041,2129,1166,779,627,190,408
143,Singapore,6480,2149,1127,851,672,163,587
144,Luxembourg,7404,2209,1155,790,700,120,388

In [8]:
df["country"]

0                     Niger
1                Mozambique
2                   Liberia
3                    Malawi
4                      Chad
               ...
140    United Arab Emirates
141             Switzerland
142                 Ireland
143               Singapore
144              Luxembourg
Name: country, Length: 145, dtype: object